
@import "../variables.css";

/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 100px 0 100px 0;
    /*background-image: url('../assets/home/banner-bg.png');*/
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, var(--color-linear-gradient-1-alfa) -5.91%, var(--color-linear-gradient-2-alfa) 111.58%);
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: 
        linear-gradient(to left, var(--color-linear-gradient-2), var(--color-linear-gradient-1))!important;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.banner h1 {
    /*font-size: 65px;*/
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    /*font-size: 18px;*/
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}

.banner button a {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.8px;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
}

.wrap {
    border-right: 0.08em solid var(--secondary-color);
}

