---
import { FaGithub, FaLink, FaRegClock, FaRegFolder, FaRegUserCircle } from "react-icons/fa";

const icons = {
  clock: FaRegClock,
  folder: FaRegFolder,
  user: FaRegUserCircle,
  github: FaGithub,
  link: FaLink,
};

interface Props {
  icon: keyof typeof icons;
  title: string;
  url?: string;
}

const { icon, title, url }: Props = Astro.props;
const Icon = icons[icon];
---

<div class="m-4">
    {url ? (
    <a href={url} target="_blank" rel="noopener noreferrer" class="hover:text-[#AA367C] hover:underline hover:cursor-pointer focus:outline-none transition-colors duration-200 opacity-100">
        <Icon className="mr-2 -mt-1 inline-block" />
        {title}
    </a>
    ) : (
    <>
        <Icon className="mr-2 -mt-1 inline-block" />
        {title}
    </>
    )}

</div>
