
/************ Custom Font ************/
$font-family: Centra;

@font-face {
	font-family: $font-family;
	src: url('../font/CentraNo2-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: $font-family;
	src: url('../font/CentraNo2-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: $font-family;
	src: url('../font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Custom Color ************/
$white-color: #fff;
$black-color: #000;
$background-color: #121212;
$succes-color: green;
$danger-color: red;
$color-linear-gradient-1: #AA367C;
$color-linear-gradient-2: #4A2FBD;
$primary-color: #020403;
$secondary-color: #fbfcf8;
$tertiary-color: #4DB6AC;
